body { background-color: #f8f6fc; font-family: sans-serif; }
header { text-align: center; padding: 2em; background-color: #eee; }
ul { list-style: none; padding: 0; }
li a { color: #7b4ca0; font-weight: bold; text-decoration: none; }